<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude> <!-- let's exclude those directories from the code coverage computation -->
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
                <directory>var</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="var/test/phpunit-log.report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="var/test/phpunit-log.coverage.xml"/>

        <!--<log type="junit" target="var/test/phpunit-log.junit.xml"/>-->
        <!--<log type="testdox-html" target="var/test/phpunit-log.testdox.html"/>-->
    </logging>
</phpunit>
